
kafka/akhq/.gradle/6.3/fileChanges/last-build.bin
kafka/akhq/.gradle/6.3/fileHashes/fileHashes.lock
kafka/akhq/.gradle/6.3/gc.properties
kafka/akhq/.gradle/checksums/checksums.lock
kafka/akhq/.gradle/vcs-1/gc.properties
